$v-app-loading-text: "";
$v-background-color: #ffffff;
$v-app-background-color: #ffffff;
$v-panel-background-color: #fff;
$v-focus-color: #3b5998;
$v-focus-style: 0 0 1px 1px rgba($v-focus-color, .5);
$v-border-radius: 3px;
$v-textfield-border-radius: 0;
$v-font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
$v-font-size: 14px;
$v-font-color: #37404E;
$v-font-weight: 400;
$v-link-text-decoration: none;
$v-shadow: 0 1px 0 (v-shade 0.2);
$v-bevel: inset 0 1px 0 v-tint;
$v-unit-size: 30px;
$v-gradient: v-linear 12%;
$v-overlay-shadow: 0 3px 8px v-shade, 0 0 0 1px (v-shade 0.7);
$v-shadow-opacity: 20%;
$v-selection-overlay-padding-horizontal: 0;
$v-selection-overlay-padding-vertical: 6px;
$v-selection-item-border-radius: 0;

@import "../valo/valo";

// Custom table headers
.customFacebookBlueTableHeader div.v-table-caption-container, td.v-table-header-cell, td.v-table-header-cell-asc, td.v-table-header-cell-desc {
  background-color: #3b5998;
  background-image: -webkit-linear-gradient(top, #4263a4 2%, #2f4982 98%);
  background-image: linear-gradient(to bottom,#4263a4 2%, #2f4982 98%);
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: bold;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
  text-align: left;
}

// Custom table sort header
.customFacebookBluePanelHeader div.v-panel-caption {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  line-height: 29px;
  border-bottom: 1px solid #d9d9d9;
  background-color: #3b5998;
  background-image: -webkit-linear-gradient(top, #4263a4 2%, #2f4982 98%);
  background-image: linear-gradient(to bottom,#4263a4 2%, #2f4982 98%);
  color: white;
  font-weight: 400;
  font-size: 14px;
  -webkit-box-shadow: inset 0 1px 0 white;
  box-shadow: inset 0 1px 0 white;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 2px 2px 0 0;
}

// Bigger Icon for tables: E.g. Upload Icon : FontAwesome.ARROW_CIRCLE_O_UP
.customBiggerIconSize {
  font-size: 24px;
}

// Custom blue (+) icon for adding a table row
.v-button.v-widget.customAddRowButton.v-button-customAddRowButton.primary.v-button-primary{
  height: 30px;
  width: 36px;
  padding: 0 13px;
  color: white;
  font-weight: bold;
  min-width: 36px;
  text-align: center;
}

// Custom red (-) icon for removing a table row
.v-button.v-widget.customRemoveRowButton.v-button-customRemoveRowButton.danger.v-button-danger{
  height: 30px;
  width: 36px;
  padding: 0 13px;
  color: white;
  font-weight: bold;
  min-width: 36px;
  text-align: center;
}

// Smaller flags in ComboBox DropDown popup
.tests-valo-facebook .v-filterselect-suggestpopup .gwt-MenuItem .v-icon {
  max-height: 11px;
  max-width: 16px;
  margin-right: 4px;
  min-width: 1em;
}

// Smaller flags for selected ComboBox DropDown item
.tests-valo-facebook .v-filterselect img.v-icon {
  max-height: 11px;
  max-width:16px;
  margin-left: 5px;
}

// Custom error notification
.customNotificationError{
  border: 2px solid #ed473b;
  border-radius: 5px;
  background-color: rgba(255, 102, 102, 0.4);
  color: #ed473b;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 100% 2px 30px;
  line-height: 30px;
}

// Custom error notification icon
.customNotificationError:before {
  font-family: ThemeIcons;
  content: "\f05e";
  color: #ed473b;
  font-size: 18px;
  margin-right: 0.5em;
  margin-left: -15px;
}

// Custom warning notification
.customNotificationWarning{
  border: 2px solid #CC9900;
  border-radius: 5px;
  background-color: rgba(255, 204, 102, 0.4);
  color: #CC9900;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 100% 2px 30px;
  line-height: 30px;
}

// Custom warning notification icon
.customNotificationWarning:before {
  font-family: FontAwesome;
  content: "\f071";
  color: #CC9900;
  font-size: 18px;
  margin-right: 0.5em;
  margin-left: -15px;
}

// Custom success notification
.customNotificationSuccess{
  border: 2px solid #669966;
  border-radius: 5px;
  background-color: rgba(102, 204, 102, 0.4);
  color: #669966;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 100% 2px 30px;
  line-height: 30px;
}

// Custom success notification icon
.customNotificationSuccess:before {
  font-family: FontAwesome;
  content: "\f00c";
  color: #669966;
  font-size: 18px;
  margin-right: 0.5em;
  margin-left: -15px;
}

// Custom info notification
.customNotificationInfo{
  border: 2px solid #0099FF;
  border-radius: 5px;
  background-color: rgba(0, 153, 255, 0.4);
  color: #0099FF;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 100% 2px 30px;
  line-height: 30px;
}

// Custom info notification icon
.customNotificationInfo:before {
  font-family: FontAwesome;
  content: "\f05a";
  color: #0099FF;
  font-size: 18px;
  margin-right: 0.5em;
  margin-left: -15px;
}

// Custom unknown notification
.customNotificationUnknown{
  border: 2px solid #666666;
  border-radius: 5px;
  background-color: rgba(210, 208, 208, 1);
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 100% 2px 30px;
  line-height: 30px;
}

// Custom unknown notification icon
.customNotificationUnknown:before {
  font-family: FontAwesome;
  content: "\f128";
  color: #666666;
  font-size: 18px;
  margin-right: 0.5em;
  margin-left: -15px;
}

// Custom normal notification
.customNotificationNormal{
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 100% 2px 15px;
  line-height: 30px;
}
